<!DOCTYPE html>
<html lang="en">
<head>
    <title>MLB Team Stats Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">MLB TEAMS</h3>
        </div>
 
        <div class="row">
            
            {% for team in teams %}
            <div class="col-sm-3" style="margin-top: 20px">
                <a href="{{team.link}}" target="_blank">
                    <img class="img-responsive" src={{team.logo}} width="50" height="70">
                </a>
                <h5>
                    <a class="desc" href={{team.link}}> {{ team.name }} </a>
                </h5>
            </div>
            {% endfor %}
    </div>

    <footer class="footer">
            <p>&copy; Company copy right 2019</p>
    </footer>
</body>
</html>