<!DOCTYPE html>
<html lang="en">
<head>
    <title>MLB Team Stats Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">MLB PLAYER STATS</h3>
            <h4><a class="desc" href="/"> << HOME </a></h4>
        </div>

        <div class="row" style="margin-left: 250px">


            <div class="col-md-8">
                <img class="img-responsive" src="{{player.photo}}" alt="{{player.name}}">
            </div>

            <div class="col-md-4">
                <h3>{{player.name}}</h3>
                <h5>Biographical Information</h5>
                <ul>
                    <li>Age '{{player.age}}'</li>
                    <li>Height '{{player.height}}'</li>
                    <li>Weight '{{player.weight}}'</li>
                    <li>Birth City '{{player.birthcity}}'</li>
                    <li>Birth Country '{{player.birthcountry}}'</li>
                    <li>Birth State '{{player.birthstate}}'</li>
                </ul>
            </div>
        </div>
        <div class="row"></div>
            <div>
                {% for stats in player.stats %}
                <table class="table table-striped" style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th scope="col">{{stats.group.displayName}} - {{stats.type.displayName}} - Team - League</th>
                            <th scope="col">stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for split in stats.splits %}
                        <tr>
                            <td>{{split.season}} - {{split.team.name}} - {{split.league.name}}</td>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        {% for k in split.stat.keys() %}
                                        <th>{{k}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for v in split.stat.values() %}
                                        <td>{{v}}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer class="footer">
            <p>&copy; Company copy right 2019</p>
    </footer>
</body>
</html>