<!DOCTYPE html>
<html lang="en">
<head>
    <title>MLB Team Stats Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">TEAM PLAYERS</h3>
            <h4><a class="desc" href="/"> << GO BACK</a></h4>
        </div>
 
        <div class="row">
            
            {% for player in players %}
            <div class="col-sm-3" style="margin-top: 20px">
                <a href="{{player.link}}" target="_blank">
                    <img class="img-responsive" style="margin-left: 40px" src={{player.photo}} width="70" height="90">
                </a>
                <h5>
                    <a class="desc" style="margin-left: 40px" href={{player.link}}> {{ player.name }} </a>
                </h5>
                <ul>
                    <li><h6>jerseyNumber: {{player.jerseyNumber}}</h6></li>
                    <li><h6>position_name: {{player.position_name}}</h6></li>
                    <li><h6>position_type: {{player.position_type}}</h6></li>
                    <li><h6>status: {{player.status}}</h6></li>
                </ul>
            </div>
            {% endfor %}
    </div>

    <footer class="footer">
            <p>&copy; Company copy right 2019</p>
    </footer>
</body>
</html>